[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
click = "*"
itsdangerous = "*"
pytz = "*"
six = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
requests = "*"
tensorflow = "==2.4"
keras = "*"
numpy = "*"
pillow = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
